  <h2>Available Projects</h2>
  <div id='project_list'>Loading...</div>
  <script>
    $('#project_list').load("/projects")
  </script>
  <button id='new_project_button'>New Project</button>
  <form target='' id='new_project_form' style='display:none' action="/new_project" method="post">
    <table>
      <tr>
        <td><label for='name'>Project Name</label></td>
        <td><input type='text' name='name' id='name'></input></td>
      </tr>
      <tr>
        <td><label for='git_uri'>GitURI</label></td><td><input type='text' name='git_uri' id='git_uri'></input></td>
      </tr>
    </table>
    <input type='submit' value='Save'>
  </form>
  <script>
    // Show the form
    $('#new_project_button').click( function() {
      $('#new_project_form').show();
    });

    // Submit the form via ajax
    $('#new_project_form').submit( function() {
      $.post($("#new_project_form").attr('action'), $("#new_project_form").serialize(), function() {
        // Reload the project list after the form was submitted
        $('#project_list').load("/projects");
        window.setTimeout(function() {
          reload_project_list();
        }, 3000);
      });
      return false;
    });

    //Hide (Collapse) the toggle containers on load
    //$('.togglable').hide().siblings("h3").prepend("<span>[+]</span><span style='display:none'>[-]</span>");


  </script>
