<!DOCTYPE html>
<html lang="en">
	<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> 
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/wakawaka.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="page-home">
    <h1><a href='/'>Wakawaka</a></h1>
    <%= yield %>      
	</body>
</html>
