<div id='project_info'></div>

<script>
  reload_project_info();

  function reload_project_info() {
    $('#project_info').load("/project_info/<%=@readable_guid%>");
//    if ($('#project_info').html().match(/Processing/)){
      // Check every second
      window.setTimeout(function() {
        reload_project_info();
      }, 5000);
//    }
  }
</script>
